<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<!---este div contiene todos los elementos-->
<div class="contenedorGral">

  <!--este div contiene formulario y contenedor nube-sol-->
  <div class="container grid">

    <div class="cardFormulario">
      <img src="../../assets/img/imagenClima.JPG" alt="">

      <form class="formCiudad" (submit)="submitCiudad(nombreCiudad)">
        <div class="">
          <input type="text" class="inputCiudad" placeholder="Ingresa tu ciudad!" #nombreCiudad>
          <!-- nombre ciudad es var donde se guarda dato del input-->
        </div>

        <button class="buttonCiudad">Buscar</button>
      </form>

    </div>

    <!-- aca comienza estilos con la nube y sol -->

    <div *ngIf="clima" class="divWeatherMain">

      <div class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
      </div>

      <div *ngIf="" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>
      </div>

      <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-3x fa-cloud cloud"></i>
      </div>


      <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{clima.main.temp}} C°</div>
      <div class="weatherWidgetRow" style="font-size: 12px;margin-top: 5px;">Max: {{clima.main.temp_max}} C° / Min:
        {{clima.main.temp_min}}C°</div>
      <div class="weatherWidgetRow" style="font-size: 12px;margin-top: 5px;">Humedad: {{clima.main.humidity}} %</div>
      <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{clima.name}}</div>

    </div>

  </div>
  <!--este div contiene formulario y contenedor nube-sol-->

</div>
<!--este div contiene todos los elementos-->
      







