<!-- Navegación Principal -->

<div class="nav-bg">
  <nav class="navegacion-principal contenedor">

    <a href="#"><i class="fas fa-2x fa-h-square icono espacioIcono"></i>EncontraHotel</a>
    <a href="#"><i class="fas fa-2x fa-caret-square-down"></i></a>

  </nav>
</div>

<!-- Main -->

<!-- Muestra componente segun ruta especificada -->
<router-outlet></router-outlet> 

<!-- <app-api-clima></app-api-clima>
<app-listado-hoteles></app-listado-hoteles> -->

<footer class="footer">

  <div class="nav-bg">
    <nav class="navegacion-principal contenedor">

      <a href="#"><i class="fas fa-2x fa-h-square icono espacioIcono"></i>EncontraHotel</a>

    </nav>
  </div>

</footer>
